<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>

      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Password" #userPass required>
      </div>

      <!-- Calling SignIn API from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn btn-primary" value="Log in" (clik)="authService.SignIn(userName.value, useerPassword.value)" >
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">OR</span></span>
      </div>

      <!-- Calling GoogleAuth API from AuthSerice -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>DOn't have an account?<span class="redirect" routerLink="/register-user">Sign Up</span></span>
    </div>
    
  </div>
</div>